  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

.navigation{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
height: 130px;
}

span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-about, ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

ul>li{
    list-style: none;
}
ul>li>a{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}


.nav-icon-contaner{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 260px;
    height: 50px;
    border-radius: 8px;
    padding: 10px 20px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-f{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.nav-icon{
    width: 1.5rem;
    height: 1.7rem;
    cursor: pointer;
}
.logo{
width: 86.041px;
height: 40px;
}
.logo-txt{
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* banner CSS start */

.banner-tit1{
    color: #0B0223;
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;

}
.banner-tit2{
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.main-banner{
    display: flex;
    height: 100vh;
    padding-top: 20px;
    justify-content: space-around;
}
.banner-lift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.banner-tit3{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.sing{
    display: inline-flex;
    cursor: pointer;
    padding: 21px 40px;
    border: none;
    color: #FFF;
    font-weight: 100;
    font-size: large;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.rog{
    display: inline-flex;
    padding: 21px 40px;
    border: none;
    color: #FFF;
    font-weight: 100;
    font-size: large;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 20px;
    cursor: pointer;
}


/* Online game play  section */
.online-paly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
.online-game{
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}
.online-tit{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.online-tit2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.online-p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.online-card{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.online-box{
    width: 340px;
    height: 400px;
}
.online-card-p{
    margin-right: 20px;
}


/* part 3rd */
.part-3{
    display: grid;
    gap: 200px;
    grid-template-areas: "tit tit img img";
    height: 80vh;
    
}

.part3{
    text-align: right;
    font-size: 50px;
    font-weight: 800;
}
.part3-p{
    grid-area: pp;
    max-width: 400px;
    color: #534C64;
text-align: end;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.part3-tit{
    grid-area: tit;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.part3-img{
    grid-area: img;
    position: relative;
 
}
.part-img2{
    position: relative;
    left: -800px;
    bottom: -150px;
}



.my-card{
    padding: 10px;
    height: 40vh;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.round-card{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 243px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}

.card-h{
    color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.sub-card{
display: flex;
justify-content: space-around;
}
.main-card{
    display: flex;
    height: 100%;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}



/* footer */

footer{
    color: #FFF;
    height: 630px;
    background: #0B0223;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-txt{
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    footer> div> img{
        width: 50px;
        height: 50px;
    }
    .footer-option{
        display: flex;
        gap: 50px;
        
    }
    .footer-icon{
        display: flex;
       gap: 40px;
    }

    footer > div > p, footer > p{
        color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }